<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('_metadata') %>
    <title>Dashboard | Rooms</title>
</head>
<body>
    <main>
        <% if (user) { %>
            Hello, <%= user.username %>.
          <% } else { %>
            aaaaaaaa
          <% } %>
    </main>
</body>
</html>