.userDiv {
    transition: all 0.25s ease-in-out;width:20px;height:20px;
    position:absolute;
    background-color: blue;
}
.userDiv.me {
    background-color:red!important;
}
.userDiv span {
    position: absolute;
    bottom: calc(100% + 5px);
    left: 0;
}

.map__box__room {
    background-color: lightseagreen;position:relative;
}
.map__box__room.closed {
    background-color: lightpink !important;
}
.map__box__room.closed::after {
    content: 'room closed';
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}